page-home-progetto {

  .colora{
    color: blue;
    font-style: italic;
    font-weight: bold;
  }

}

.ios, .md {

  page-home {

    .scroll-content {
      background-color: map-get($colors, light);
    }

    ion-card-header {
      font-weight: bold;

    }

  }

}