<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>Benvenuto, {{username | uppercase}}</h3>
  <hr/>

  <h2>Notifiche</h2>
  <ion-list>

          <h4 text-center="" *ngIf="codiceProgetto === null"> Seleziona un progetto! </h4>

    <ion-item (click)="apriConvalidaOre()" *ngFor="let notifica of infoOreInviate">
      <h2><strong>{{notifica.user | uppercase}}</strong></h2>
      <h4>{{notifica.attivita | uppercase}}</h4>
      <h4>Ore comunicate: <b>{{notifica.oreComunicate}}</b></h4>
      <h4>Data Inizio: {{notifica.dataInizio | date:"medium"}}</h4>
    </ion-item>
  </ion-list>




</ion-content>
