<!-- MENU PM -->
<ion-menu id="loggedPM" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        Progetto
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pagesProgetto" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Generale
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pagesGenerale" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Impostazioni
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pagesImpostazioni" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>


  </ion-content>


</ion-menu>

<!-- MENU TM -->
<ion-menu id="loggedTM" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        Progetto
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pagesProgettoTM" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Impostazioni
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of pagesImpostazioni" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>


</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>